<!doctype html>
<html>
  <head>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">

  <title></title>
    <style>

      .h1 {
                   font-family: 'Roboto Slab', serif;
                   text-align: center;
                   margin-right: 25px;
                   margin-left: 50px;
                   font-size:60px
          }


      .byline {
                  font-family: 'Roboto Slab', serif;
                  font-weight: bold;
                  border-top: 1px solid #000000;
                  border-bottom: 1px solid #000000;

  <body>            }

 div {
    width: 300px;
    margin: auto;
    border: 1px solid red;
}
</body>


     
   </style>






